<nav class="navbar navbar-expand-lg bg-orange">
  <div class="container-fluid">
    <a class="navbar-brand" href='{{ url_for("home") }}'>
      <img src="{{ url_for('static', filename='logo.png') }}"
           alt="Straza"
           width="30"
           height="auto">
    </a>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white" href='{{ url_for("home") }}'>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href='{{ url_for("profile") }}'>You</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white"
             href="#"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">Training</a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href='{{ url_for("runs") }}'>Run Log</a>
            </li>
            <li>
              <a class="dropdown-item" href='{{ url_for("hab_lab") }}'>Hab Lab</a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item" href='{{ url_for("log_run") }}'>Add Run</a>
            </li>
            <li>
              <a class="dropdown-item" href='{{ url_for("log_workout") }}'>Add Workout</a>
            </li>
          </ul>
        </li>
      </li>
    </ul>
    <form class="d-flex" role="search">
      <input class="form-control me-3"
             type="search"
             placeholder="Search"
             aria-label="Search">
      <button class="btn btn-outline-light" type="submit">Search</button>
    </form>
    <ul class="navbar-nav mb-auto me-3 me-lg-0">
      <li class="nav-item">
        <a class="nav-link text-grey" href='{{ url_for("logout") }}'>Logout</a>
      </li>
    </ul>
  </div>
</div>
</nav>
